.container {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
}

.topBar {
    display: flex;
    background-color: #0099CC;
    width: 100%;
    height: 2.5rem;
    color: white;
}

.tab, .activeTab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 1;
    height: 100%;
    color: white;
}

.activeTab {
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.2);
}

