.container {
    height: 100%;
    width: 100%;
    font:12px/1.5 "å®‹ä½“";
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    background:#0099cc url(./zs-login-body-bg.png) center no-repeat;
}
.content{
    width: 652px;
    height: 399px;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    background: url(./zs-login-form-bg.png) no-repeat;
}

.logo {
    position: relative;
    margin-top: -90px;
    height: 78px;
    text-align: center;
    font-size: 37px;
    color: white;
    font-weight: bold;
}

.form {
    margin: 300px 0 0 0;

}

.formBox {
    margin: 0 auto;
    width: 360px;
    overflow: hidden;
}

.cell {
    float: left;
    display: inline;
    margin: 0 4px;
}

.cell .input{
    float: left;
    margin:5px;
    width: 189px;
    height: 25px;
    line-height: 25px \9;
    color: #555;
    font-size: 12px;
    border:none;
    background: none;
    outline: none;
}

.bg {
    padding-bottom: 11px;
    width: 240px;
    height: 35px;
    background: url(./input-bg.png) no-repeat;
    overflow: hidden;
}

.cell label {
    float: left;
    width: 40px;
    height: 100%;
    font-size: 0;
}

.user{
    background: url(./user-ico.png) center center no-repeat;
}

.pwd{
    background: url(./pwd-ico.png) center center no-repeat;
}

.btn{
    display: block;
    width: 102px;
    height: 83px;
    background: url(./login-btn-bg.png) no-repeat;
    border:none;
    outline: none;
    text-indent: -999em;
    cursor: pointer;
}
