@font-face {
  font-family: 'iconfont';  /* project id 1244455 */
  src: url('//at.alicdn.com/t/font_1244455_grxpv70ufhc.eot');
  src: url('//at.alicdn.com/t/font_1244455_grxpv70ufhc.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1244455_grxpv70ufhc.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1244455_grxpv70ufhc.woff') format('woff'),
  url('//at.alicdn.com/t/font_1244455_grxpv70ufhc.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1244455_grxpv70ufhc.svg#iconfont') format('svg');
}