@font-face {
  font-family: 'iconfont';  /* project id 1244455 */
  src: url('//at.alicdn.com/t/font_1244455_fz3bx4xohuj.eot');
  src: url('//at.alicdn.com/t/font_1244455_fz3bx4xohuj.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1244455_fz3bx4xohuj.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1244455_fz3bx4xohuj.woff') format('woff'),
  url('//at.alicdn.com/t/font_1244455_fz3bx4xohuj.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1244455_fz3bx4xohuj.svg#iconfont') format('svg');
}