<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joey.mysite.jdbc.mapper.BcCardMapper">
  <resultMap id="BaseResultMap" type="com.joey.mysite.jdbc.bean.BcCard">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="card_type_id" jdbcType="VARCHAR" property="cardTypeId" />
    <result column="balance" jdbcType="VARCHAR" property="balance" />
  </resultMap>
  <insert id="insert" parameterType="com.joey.mysite.jdbc.bean.BcCard">
    insert into bc_card (id, name, user_id, 
      card_type_id, balance)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{cardTypeId,jdbcType=VARCHAR}, #{balance,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.joey.mysite.jdbc.bean.BcCard">
    insert into bc_card
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="cardTypeId != null">
        card_type_id,
      </if>
      <if test="balance != null">
        balance,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="cardTypeId != null">
        #{cardTypeId,jdbcType=VARCHAR},
      </if>
      <if test="balance != null">
        #{balance,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>