<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joey.mysite.jdbc.mapper.BdBillMapper">
  <resultMap id="BaseResultMap" type="com.joey.mysite.jdbc.bean.BdBill">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="card_id" jdbcType="VARCHAR" property="cardId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="bill_type_id" jdbcType="VARCHAR" property="billTypeId" />
    <result column="money" jdbcType="VARCHAR" property="money" />
    <result column="bill_desc" jdbcType="VARCHAR" property="billDesc" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
    <result column="update_time" jdbcType="DATE" property="updateTime" />
  </resultMap>
  <insert id="insert" parameterType="com.joey.mysite.jdbc.bean.BdBill">
    insert into bd_bill (id, card_id, user_id, 
      bill_type_id, money, bill_desc, 
      create_time, update_time)
    values (#{id,jdbcType=VARCHAR}, #{cardId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{billTypeId,jdbcType=VARCHAR}, #{money,jdbcType=VARCHAR}, #{billDesc,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=DATE}, #{updateTime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.joey.mysite.jdbc.bean.BdBill">
    insert into bd_bill
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="cardId != null">
        card_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="billTypeId != null">
        bill_type_id,
      </if>
      <if test="money != null">
        money,
      </if>
      <if test="billDesc != null">
        bill_desc,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="cardId != null">
        #{cardId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="billTypeId != null">
        #{billTypeId,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        #{money,jdbcType=VARCHAR},
      </if>
      <if test="billDesc != null">
        #{billDesc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.joey.mysite.jdbc.bean.BdBill">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="card_id" jdbcType="VARCHAR" property="cardId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="bill_type_id" jdbcType="VARCHAR" property="billTypeId" />
    <result column="money" jdbcType="VARCHAR" property="money" />
    <result column="desc" jdbcType="VARCHAR" property="desc" />
  </resultMap>
  <insert id="insert" parameterType="com.joey.mysite.jdbc.bean.BdBill">
    insert into bd_bill (id, card_id, user_id, 
      bill_type_id, money, bill_desc
      )
    values (#{id,jdbcType=VARCHAR}, #{cardId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{billTypeId,jdbcType=VARCHAR}, #{money,jdbcType=VARCHAR}, #{desc,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.joey.mysite.jdbc.bean.BdBill">
    insert into bd_bill
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="cardId != null">
        card_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="billTypeId != null">
        bill_type_id,
      </if>
      <if test="money != null">
        money,
      </if>
      <if test="desc != null">
        desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="cardId != null">
        #{cardId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="billTypeId != null">
        #{billTypeId,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        #{money,jdbcType=VARCHAR},
      </if>
      <if test="desc != null">
        #{desc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>