.container {
    width: 100%;
    height: 4.66rem;
    display: flex;
    flex-direction: column;
    background: url("./test.jpg") no-repeat;
    background-size: 100% 100%;
    padding-top: 1.15rem;
    padding-left: 0.65rem;
    box-sizing: border-box;
}

.container * {
    opacity: 0.9;
}

.monthContainer {
    display: flex;
    flex-direction: row;
    height: 0.8rem;
    align-items: baseline;
    letter-spacing: 0.08rem;
}

.monthContainer *:first-child {
    font-size: 0.6rem;
    color: #FFCC80;
    padding-right: 0.1rem;
}

.monthContainer *:last-child {
    font-size: 0.32rem;
    color: #C0D1E5;
}

.moneyContainer {
    margin-top: 0.05rem;
    height: 1.2rem;
    font-size: 0.9rem;
    color: #FFFFFF;
    font-weight: bold;
}

.budgetContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 0.4rem;
    margin-top: 0.1rem;
    font-size: 0.4rem;
}

.budgetContainer .label {
    color: #A8DFF3;
}

.budgetContainer .value {
    margin-left: 0.2rem;
    color: white;
}

.budgetContainer .divider {
    color: #A8DFF3;
    margin: 0 0.45rem;
}