.container {
    display: flex;
    width: 100%;
    height: 1.74rem;
    flex-direction: column;
    background-color: white;
    padding-left: 0.5rem;
    flex-shrink: 0;
}

.container * {
    flex-shrink: 0;
}

.content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 0;
    flex: 1;
    padding-right: 0.54rem;
    align-items: center;
}

.label{
    font-size: 0.45rem;
    color: #302f2b;
    width:0;
    flex: 1;
    padding-left: 0.24rem;
}

.rightIcon {
    color: #c6c7c9;
    font-size: 0.4rem;
}

.leftIcon {
    font-size: 0.6rem;
    color:#E6543B;
}

