.imgRow{
    height: 150px;
    width: 100%;
    display: flex;
    flex-shrink: 0;
    overflow-x: auto;
}

.imgRow img{
    height: 100%;
    margin-right: 15px;
}

.unitHeader{
    background-color: #434343;
    color: white;
}


.title{
    font-weight: bold;
    font-size: 15px;
}

.form{
    width: 100%;
    display: flex;
    flex-shrink: 0;
    overflow-y: auto;
    box-sizing: border-box;
}