:global(#root){
    height: 100%;
    width: 100%;
    position: relative;
}
:global(.fill-parent){
    position: relative;
    width: 100%;
    height: 100%;
}

/*水平布局*/
:global(.horizontal){
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
}
/*垂直布局*/
:global(.vertical){
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

/*填满父类剩余空间*/
:global(.fill-space-v) {
    position: relative;
    width: 100%;
    height: 0;
    flex-grow: 1;
}

:global(.fill-space-h) {
    position: relative;
    width: 0;
    height: 100%;
    flex-grow: 1;
    box-sizing: border-box;
}


.container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-shrink: 0;
    position: relative;
    flex-direction: column;
}

.contentContainer{
    height: 0;
    width: 100%;
    flex-grow: 1;
    display: block;
    flex-shrink: 0;
}

.header *{
    margin: 0;
    padding: 0;
}

.header{
    background-color: #0099CC;
    width: 100%;
    height: 64px;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    align-items: center;
    position: relative;
    color: white;
}

.header .icon{
    padding-right: 40px;
    height: 100%;
    width: 350px;
    display: flex;
    flex-shrink: 0;
    font-size: 30px;
    background-position-y: 14px;
    background-size: 80px;
    color: white;
    justify-content: flex-end;
    align-items: center;
    /* background-image: url(<%=basePath%>/image/logo1.png); */
}

.header .tab{
    width: 0;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 0;
}

.header .tab a{
    height: 100%;
    line-height: 70px;
    text-align: center;
    padding: 0 1.5em;
    color: white;
    cursor: pointer;
    transition: color 0.3s;
    text-decoration: none;
}

.header .tab .selected {
    font-weight: bold;
    background-color:rgba(0,0,0,0.2);
}

.header .tab a:hover {
    background-color:rgba(0,0,0,0.2);
}

.header .tool{
    height: 100%;
    width: 170px;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: flex-end;
    color:white
}

.versions{
    margin: 10px 0;
    font-size: 12px;
}

.exit{
    font-size: 18px;
}



