.container{
    width:100%;
    height: 1.8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.titleContainer{
    align-items: center;
    padding-left: 0.3rem;
    font-size: 0.52rem;
    color:#322E2B;
    font-weight: normal;
    line-height: 1.8rem;
    text-align: center;
    padding-right: 0.15rem;
}

.icon{
    font-size: 0.35rem;
}